option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: 18.19.0
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    NPM_USE_PRODUCTION: false
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /public: dist/public

commands:
  01_npm_install:
    command: "npm install"
    cwd: "/var/app/staging"
  02_npm_build:
    command: "npm run build"
    cwd: "/var/app/staging"